@using System.Security.Claims
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduSciencePro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EduSciencePro.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border_bottom_blue mb-3 flex-column">
            <div class="container d-flex">
                <a class="navbar-brand col-md-6" asp-area="" asp-controller="Home" asp-action="Index"><img src="src/Logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end col-md-4">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item m-2">
                            <input />
                            <button><img src="src/search.svg" /></button>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Контакты</a>
                        </li>
                        <li class="nav-item m-2">
                            @{
                               if (Context.User.Identity.IsAuthenticated)
                               {
                                    ClaimsIdentity ident = Context.User.Identity as ClaimsIdentity;

                                    if (ident.Claims.FirstOrDefault(u => u.Type == ClaimTypes.UserData) != null)
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img style='width:65px; border-radius:100%' src='\"data:image/jpeg;base64," + @ident.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Upn).Value + "\"' /></a>
                                    }
                                    else
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img style='width:65px; border-radius:100%' src="src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png" /></a>
                                    }
                               }
                               else
                               {
                                    <a asp-controller="User" asp-action="Authenticate">Вход в личный кабинет</a>
                               }
                            }
                        </li>
                    </ul>
                </div>

            </div>
            <div class="d-block">
                <div class="container d-flex justify-content-between align-items-center">
                   @if (Context.User.Identity.IsAuthenticated)
                   {
                                              <partial name="~/Views/User/TypeUsers.cshtml"></partial>
                   }
                   else
                   {
                        <p class="m-4 text-uppercase small"><a>Школьникам</a></p>
                        <p class="m-4 text-uppercase small"><a>Научным сотрудникам</a></p>
                        <p class="m-4 text-uppercase small"><a>Профессорско-преподавательскому составу сферы высшего образования</a></p>
                        <p class="m-4 text-uppercase small"><a>Представителям сферы среднего профессионального образования</a></p>
                        <p class="m-4 text-uppercase small"><a>Представителям реального сектора экономики</a></p>
                        <p class="m-4 text-uppercase small"><a>Представителям реального сектора экономики</a></p>
                   }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 row justify-content-center">
            @RenderBody()
        </main>
    </div>

    <footer class="bg_dark mt-5 position-absolute bottom-0 pt-5 text-white" style="right:0;left:0;">
        <div class="container d-flex justify-content-between">
            <div style="margin: auto 0;">
                <img class="svg_white" src="src/Logo.svg" style="fill:white;" />
            </div>
            <div class="d-flex">
                <div class="m-4" style="display:flex;align-items:end;flex-direction:row;">
                    <input />
                    <button><img src="src/search.svg" /></button>
                </div>
                <div>
                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <p><a asp-controller="User" asp-action="Authenticate">Вход в личный кабинет</a></p>
                    }
                    else
                    {
                        <p><a>Выход из личного кабинета</a></p>
                    }
                    <p><a>Контакты</a></p>
                    <p><a>Правила сайта</a></p>
                    <p><a>Политика конфиденциальности</a></p>
                </div>
            </div>


        </div>
        <p class="text-center text-muted">&copy; 2022 - При цитировании информации с сайта EduSciencePro ссылка на первоисточник обязательна</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
