@{
    ViewData["Title"] = "Контакты";
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white">
    <div class="container">
        <h3 class="mb-5 mt-5 underline_h3 text-center">Контакты</h3>
        <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-10">
               <p>
                    <b>Автор проекта:</b><br>&#9;Анастасия Ильина, научный сотрудник Московского государственного университета имени М.В. Ломоносова, <span style="background-color: #D9F1F8; border-radius: 3px; padding: 0 5px 0 5px;">+7-915-254-78-03</span>
               </p>   
               <p>
                    <b>Поддержка сайта: </b><a href="mailto:admin@edusciencepro.ru" class="d-inline form-control-plaintext text-decoration-none text-black" style="background-color: #D9F1F8; border-radius: 3px; padding: 0 5px 0 5px;">admin@edusciencepro.ru</a>
               </p>
            </div>
        </div>
    </div>
</div>

