@using EduSciencePro.ViewModels.Request
@model ChangePasswordViewModel
<div class="col-md-3 text-center">
    <form class="m-3" method="post" asp-controller="User" asp-action="ChangePassword" asp-route-Email="@Model.Email">

        <h3 class="mb-5 mt-5">Изменение пароля</h3>

        <p class="d-none"><input class="text-center w-100 p-1" placeholder="Email" asp-for="Email" value="@Model.Email" disabled></p>

        <label asp-for="NewPassword" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Пароль" asp-for="NewPassword"></p>
        <p><span asp-validation-for="NewPassword" class="text-danger mb-3"></span></p>

        <label asp-for="PasswordConfirm" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Подтвердите пароль" asp-for="PasswordConfirm"></p>
        <p><span asp-validation-for="PasswordConfirm" class="text-danger mb-3"></span></p>

        <p><button class="button form-control-plaintext m-auto w-50 mt-4">Сохранить</button></p>

    </form>
</div>
