@using EduSciencePro.ViewModels.Request
@model EditUserViewModel
@{
    ViewData["Title"] = "Редактирование профиля";
    Layout = "_Layout";
}
<div class="col-md-4 text-center">
    <form class="m-3" method="post" asp-controller="User" asp-action="EditEmail">

        <h3 class="mb-5 mt-5">Редактирование email</h3>

        <label class="w-100 text-start label_input">Введите новый email</label>
        <p><input class="text-center w-100 p-1" placeholder="Email"></p>

        <p class="text-start mt-4 p-2"><input class="checkbox" type="checkbox" asp-for="Consent" value="true"><span class="before_checkbox">Согласие на сбор информации. Политика конфиденциальности.</span></p>
        <p><span asp-validation-for="Consent" class="text-danger mb-3"></span></p>

        <p><button class="button form-control-plaintext m-auto w-50 mt-4">Сохранить</button></p>

    </form>

</div>