@using EduSciencePro.ViewModels.Request
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Изменение пароля";
    Layout = "_Layout";
}

<div class="col-md-3 text-center">
    <form class="m-3" method="post" asp-controller="User" asp-action="ForgotPassword">

        <h3 class="mb-5 mt-5">Изменение пароля</h3>

        <label asp-for="Email" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Email" asp-for="Email"></p>
        <p><span asp-validation-for="Email" class="text-danger mb-3"></span></p>

        <p><button class="button form-control-plaintext m-auto w-50 mt-4">Далее</button></p>

    </form>
</div>
