@using System.Security.Claims
@using System.Web
@{

    string[] schoolchild = {
   "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/Projects' class='form-control-plaintext text-decoration-none'>Научно-исследовательская деятельность - проекты</a>",
        "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
    };
    string[] stud = {
           "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/Projects' class='form-control-plaintext text-decoration-none'>Научно-исследовательская деятельность - проекты</a>",
        "<a href='/Internships' class='form-control-plaintext text-decoration-none'>Практики/стажировки</a>",
    "<a href='/NewsPosts' class='form-control-plaintext text-decoration-none'>Актуальные новости</a>",
            "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
        };
    string[] science = {
               "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/Projects' class='form-control-plaintext text-decoration-none'>Научно-исследовательская деятельность - проекты</a>",
        "<a href='/Internships' class='form-control-plaintext text-decoration-none'>Практики/стажировки</a>",
    "<a href='/NewsPosts' class='form-control-plaintext text-decoration-none'>Актуальные новости</a>",
            "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
    };
    string[] professor = {
                      "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/Projects' class='form-control-plaintext text-decoration-none'>Научно-исследовательская деятельность - проекты</a>",
        "<a class='form-control-plaintext text-decoration-none'>Учебные материалы</a>",
    "<a href='/NewsPosts' class='form-control-plaintext text-decoration-none'>Актуальные новости</a>",
            "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
    };
    string[] secedu = {
                             "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/Courses' class='form-control-plaintext text-decoration-none'>Курсы/программы</a>",
        "<a class='form-control-plaintext text-decoration-none'>Учебные материалы</a>",
    "<a href='/NewsPosts' class='form-control-plaintext text-decoration-none'>Актуальные новости</a>",
            "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
    };
    string[] economy = {
                                    "<a href='/Conferences' class='form-control-plaintext text-decoration-none'>Конференции (научно-практические)</a>",
    "<a href='/ResumeCollection' class='form-control-plaintext text-decoration-none'>Сборник резюме</a>",
        "<a href='/Cooperations' class='form-control-plaintext text-decoration-none'>Сотрудничество(проекты)</a>",
    "<a href='/NewsPosts' class='form-control-plaintext text-decoration-none'>Актуальные новости</a>",
            "<a href='/DiscussionPosts' class='form-control-plaintext text-decoration-none'>Обсуждения</a>"
    };
    ClaimsIdentity identMenu = Context.User.Identity as ClaimsIdentity;
    var types = identMenu.Claims.Where(u => u.Type == ClaimTypes.Upn).ToArray();
    string[] typeArray = { };
    foreach (var type in types)
    {
        switch (type.Value)
        {
            case "Школьник":
                typeArray = typeArray.Union(schoolchild).ToArray();
                break;
            case "Студент, Аспирант или Соискатель":
                typeArray = typeArray.Union(stud).ToArray();
                break;
            case "Научный сотрудник":
                typeArray = typeArray.Union(science).ToArray();
                break;
            case "Профессорско-преподавательский состав сферы высшего образования":
                typeArray = typeArray.Union(professor).ToArray();
                break;
            case "Представитель сферы среднего профессионального образования":
                typeArray = typeArray.Union(secedu).ToArray();
                break;
            case "Представитель реального сектора экономики":
                typeArray = typeArray.Union(economy).ToArray();
                break;
        };
    }
    foreach (var typel in typeArray)
    {
        TagBuilder p = new TagBuilder("p");
        p.AddCssClass("m-4");
        p.AddCssClass("text-uppercase");
        p.AddCssClass("small");
        p.AddCssClass("types_user");
        p.InnerHtml.AppendHtml(typel);
        @p
    }
}
