@    using EduSciencePro.ViewModels
@    using EduSciencePro.ViewModels.Response
@model OpenDialogueViewModel;

<div class="border_blue p-4 m-3 bg-white d-flex justify-content-center">
    <div class="col-md-10">
        @{
            string fullname;
            fullname = $"{Model.InterlocutorFirst.LastName} {Model.InterlocutorFirst.FirstName} {Model.InterlocutorFirst.MiddleName}";
        }
        <h3 class="mb-5 mt-5 underline_h3 text-center">Диалог с пользователем @fullname</h3>

        <div class="row" id="dialog_messages">

            @await Html.PartialAsync("~/Views/Message/MessagesInDialog.cshtml", Model.Messages)

        </div>

        <div class="p-4 m-3 d-flex justify-content-center">
            <div class="col-12">
                <input class="d-none" value="@Model.InterlocutorFirst.Id" id="message_sender" />

                <label class="text-start label_input mt-4 w-100">Сообщение</label>
                <p><textarea class="input_title_post w-100 p-1" rows="5" id="message_content"></textarea></p>

                <p><button class="button form-control-plaintext m-auto w-25 mt-4" id="button_addmessage">Отправить</button></p>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl('/ChatHub')
            .build();

        let connectionId = "";
        var take = 20;
        var skip = 10;

        hubConnection.on("ReceiveMessage", function (message, user) {
            var sendername = user.lastName + " " + user.firstName + " " + user.middleName;
            var date = new Date(message.createTime);
            var day = "";
            if (date.getDate() < 10) {
               day += "0";
            }
            day += date.getDate();

            var month = "";
            if (date.getMonth() < 10) {
                month += "0";
            }
            month += date.getMonth() + 1;

            var createDate = day + "." + month + "." + date.getFullYear();

            var hours = "";
            if (date.getHours() < 10) {
                hours += "0";
            }
            hours += date.getHours();

            var minutes = "";
            if (date.getMinutes() < 10) {
                minutes += "0";
            }
            minutes += date.getMinutes();

            var time = hours + ":" + minutes;

            if (user.image != null) {
                $("#messanges_div").append(`<div class="row mt-5"><div class="col-2 align-self-start d-flex justify-content-end"><div style="height:60px;width:60px;background-image:url(data:image/jpeg;base64,` + user.image + `);background-position:center;background-size:cover;"></div></div><div class="col-10"><p><a href="/GetUser?userId=939c6ab6-be98-4ed9-beab-0557b46ff941" class="text-black text-decoration-none">` + sendername + ` </a><span class="color-blue ml-2">` + time + `</span><span class="color-blue ml-2">` + createDate + `</span></p><p class="mt-3">` + message.content + `</p></div></div>`);
            }
            else {
                $("#messanges_div").append(`<div class="row mt-5"><div class="col-2 align-self-start d-flex justify-content-end"><div style="height:60px;width:60px;background-image:url(/src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png);background-position:center;background-size:cover;"></div></div><div class="col-10"><p><a href="/GetUser?userId=939c6ab6-be98-4ed9-beab-0557b46ff941" class="text-black text-decoration-none">` + sendername + ` </a><span class="color-blue ml-2">` + time + `</span><span class="color-blue ml-2">` + createDate + `</span></p><p class="mt-3">` + message.content + `</p></div></div>`);
            }
        });
        hubConnection.start().then(() => {
            connectionId = hubConnection.connectionId;

            $.ajax({
                url: '/Message/Connect/' + connectionId,
                type: 'POST',
                success: function (data) {
                },
                error: function () {
                }
            });
        });

        $("#button_addmessage").click(function () {

            var recipientId = $("#message_sender").val();
            var content = $("#message_content").val();
            $("#message_content").val("");

            fetch('/Message/AddMessage', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'recipientId': recipientId, 'content': content })
            });
        });

        $("#button_moremessage").click(function () {

            var recipientId = $("#message_sender").val();

            $.ajax({
                url: '/Message/MoreMessage/' + recipientId + '/' + take + '/' + skip,
                type: 'POST',
                success: function (data) {

                    if (data.length == 0) {
                        $("#button_moremessage").remove();
                    }
                    else {
                        for (var i = data.length - 1; i >= 0; i--) {
                            var sendername = data[i].sender.lastName + " " + data[i].sender.firstName + " " + data[i].sender.middleName;
                            var date = new Date(data[i].createTime);
                            var day = "";
                            if (date.getDate() < 10) {
                                day += "0";
                            }
                            day += date.getDate();

                            var month = "";
                            if (date.getMonth() < 10) {
                                month += "0";
                            }
                            month += date.getMonth();

                            var createDate = day + "." + month + "." + date.getFullYear();
                            var time = date.getHours() + ":" + date.getMinutes();

                            if (data[i].sender.image != null) {
                                $("#messanges_div").prepend(`<div class="row mt-5"><div class="col-2 align-self-start d-flex justify-content-end"><div style="height:60px;width:60px;background-image:url(data:image/jpeg;base64,` + data[i].sender.image + `);background-position:center;background-size:cover;"></div></div><div class="col-10"><p><a href="/GetUser?userId=939c6ab6-be98-4ed9-beab-0557b46ff941" class="text-black text-decoration-none">` + sendername + ` </a><span class="color-blue ml-2">` + time + `</span><span class="color-blue ml-2">` + createDate + `</span></p><p class="mt-3">` + data[i].content + `</p></div></div>`);
                            }
                            else {
                                $("#messanges_div").prepend(`<div class="row mt-5"><div class="col-2 align-self-start d-flex justify-content-end"><div style="height:60px;width:60px;background-image:url(/src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png);background-position:center;background-size:cover;"></div></div><div class="col-10"><p><a href="/GetUser?userId=939c6ab6-be98-4ed9-beab-0557b46ff941" class="text-black text-decoration-none">` + sendername + ` </a><span class="color-blue ml-2">` + time + `</span><span class="color-blue ml-2">` + createDate + `</span></p><p class="mt-3">` + data[i].content + `</p></div></div>`);
                            }
                        }
                    }
                },
                error: function () {
                }
            });

            take += 10;
            skip += 10;
        });

    });
</script>